
      <img class="modal__img--preview"  src="{{this.images.[6].url}}" alt="{{this.name}}">
      <div class="modal__content--flex">
        <img class="modal__img" src="{{this.images.[6].url}}" alt="{{this.name}}">
        <div class="modal__content--description">
      <ul class="modal-list">
      <li class="modal-list__item">
        <h3 class="modal-list__item-title">INFO</h3>
      <p class="modal-list__item-text">{{name}}</p>
      </li>
      <li class="modal-list__item">
        <h3 class="modal-list__item-title">WHEN</h3>
      <p class="modal-list__item-text">{{this.dates.start.localDate}}</p>
      <p class="modal-list__item-text">{{this.dates.start.localTime}} ({{this.dates.timezone}})</p>
      </li>
      <li class="modal-list__item">
        <h3 class="modal-list__item-title">WHERE</h3>
<p class="modal-list__item-text">{{_embedded.venues.[0].city.name}}, {{_embedded.venues.[0].country.name}}</p>
           
      <p class="modal-list__item-text">{{_embedded.venues.[0].name}}</p>
      </li>
      <li class="modal-list__item">
        <h3 class="modal-list__item-title">WHO</h3>
      <p class="modal-list__item-text">{{_embedded.attractions.[0].name}}</p>
      </li>
      <li class="modal-list__item">
        <h3 class="modal-list__item-title">PRICES </h3>
      {{!-- <p class="modal-list__item-text">{{priceRanges.[0].min}} {{priceRanges.[0].currency}}</p> --}}
      {{!-- <p class="modal-list__item-text"><svg>
        <use href="../images/sprite.svg#icon-ticket"></use>
      </svg></p> --}}
      <p class="modal-list__item-text modal-list__item-text--price-margin">Standart 300-500 UAH</p>
      <a class="modal-list__tickets-standart modal-list__buy-tickets" href = {{url}}>BUY TICKETS</a>
      {{!-- <p class="modal-list__item-text">{{priceRanges.[0].max}} {{priceRanges.[0].currency}}</p> --}}
      <p class="modal-list__item-text modal-list__item-text--price-margin ">VIP 1000-1500 UAH</p>
      <a class="modal-list__tickets-vip modal-list__buy-tickets" href={{url}}>BUY TICKETS</a>
      </li>
      </ul>
      
    </div>
    </div>
    <button class="modal__btn-more">MORE FROM THIS AUTHOR</button>